<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="orderQQ" class="springA.pojo.Order">
        <property name="id" value="20210504557"/>
        <property name="username" value="赵尚凌"/>
        <property name="money" value="97.5"/>
    </bean>

    <bean id="orderWeChat" class="springA.pojo.Order">
        <constructor-arg index="0" value="20210504558"/>
        <constructor-arg index="1" value="刘瑞华"/>
        <constructor-arg index="2" value="157.5"/>
    </bean>

    <bean id="noticeDaoByQQ" class="springA.dao.impl.NoticeDaoByQQImpl"/>
    <bean id="noticeDaoByWeChat" class="springA.dao.impl.NoticeDaoByWeChatImpl"/>

    <bean id="noticeByQQ" class="springA.service.OrderNotice">
        <property name="order" ref="orderQQ"/>
        <property name="noticeDao" ref="noticeDaoByQQ"/>
    </bean>
    <bean id="noticeByWeChat" class="springA.service.OrderNotice">
        <constructor-arg index="0" ref="orderWeChat"/>
        <constructor-arg index="1" ref="noticeDaoByWeChat"/>
    </bean>

</beans>
